<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <div class="jumbotron">
        <h3><em>Instructions and Receipe to cook</em></h3>


        <ul>
            <h3>{{data.strMeal}}</h3>
            <li><strong><em>{{data.strInstructions}}</em></strong></li><br>
            <li>{{data.strIngredient1}}-<em>{{data.strMeasure1}}</em></li>
            <li>{{data.strIngredient2}}-<em>{{data.strMeasure2}}</em></li>
            <li>{{data.strIngredient3}}-<em>{{data.strMeasure3}}</em></li>
            <li>{{data.strIngredient4}}-<em>{{data.strMeasure4}}</em></li>
            <li>{{data.strIngredient5}}-<em>{{data.strMeasure5}}</em></li>
            <li>{{data.strIngredient6}}-<em>{{data.strMeasure6}}</em></li>
            <li>{{data.strIngredient7}}-<em>{{data.strMeasure7}}</em></li>
            <li>{{data.strIngredient8}}-<em>{{data.strMeasure8}}</em></li>
            <li>{{data.strIngredient9}}-<em>{{data.strMeasure9}}</em></li>
            <li>{{data.strIngredient10}}-<em>{{data.strMeasure10}}</em></li>
            <li>{{data.strIngredient11}}-<em>{{data.strMeasure11}}</em></li>
            <li>{{data.strIngredient12}}-<em>{{data.strMeasure12}}</em></li>
            <li>{{data.strIngredient13}}-<em>{{data.strMeasure13}}</em></li>
            <li>{{data.strIngredient14}}-<em>{{data.strMeasure14}}</em></li>
            <li>{{data.strIngredient15}}-<em>{{data.strMeasure15}}</em></li>
            <li>{{data.strIngredient16}}-<em>{{data.strMeasure16}}</em></li>
            <li>{{data.strIngredient17}}-<em>{{data.strMeasure17}}</em></li>
            <li>{{data.strIngredient18}}-<em>{{data.strMeasure18}}</em></li>
            <li>{{data.strIngredient19}}-<em>{{data.strMeasure19}}</em></li>
            <li>{{data.strIngredient20}}-<em>{{data.strMeasure20}}</em></li>

        </ul>
   </div>
  </div>
