<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <div class="jumbotron">
        <h3><em>Instructions and Receipe to cook</em></h3>
            <ul *ngFor="let meal of meals">
            <h3>{{meal.strMeal}}</h3>
            <li><strong><em>{{meal.strInstructions}}</em></strong></li><br>
            <li>{{meal.strIngredient1}-<em>{{meal.strMeasure1}</em></li>
            <li>{{meal.strIngredient2}}-<em>{{meal.strMeasure2}}</em></li>
            <li>{{meal.strIngredient3}}-<em>{{meal.strMeasure3}}</em></li>
            <li>{{meal.strIngredient4}}-<em>{{meal.strMeasure4}}</em></li>
            <li>{{meal.strIngredient5}}-<em>{{meal.strMeasure5}}</em></li>
            <li>{{meal.strIngredient6}}-<em>{{meal.strMeasure6}}</em></li>
            <li>{{meal.strIngredient7}}-<em>{{meal.strMeasure7}}</em></li>
            <li>{{meal.strIngredient8}}-<em>{{meal.strMeasure8}}</em></li>
            <li>{{meal.strIngredient9}}-<em>{{meal.strMeasure9}}</em></li>
            <li>{{meal.strIngredient10}}-<em>{{meal.strMeasure10}}</em></li>
            <li>{{meal.strIngredient11}}-<em>{{meal.strMeasure11}}</em></li>
            <li>{{meal.strIngredient12}}-<em>{{meal.strMeasure12}}</em></li>
            <li>{{meal.strIngredient13}}-<em>{{meal.strMeasure13}}</em></li>
            <li>{{meal.strIngredient14}}-<em>{{meal.strMeasure14}}</em></li>
            <li>{{meal.strIngredient15}}-<em>{{meal.strMeasure15}}</em></li>
            <li>{{meal.strIngredient16}}-<em>{{meal.strMeasure16}}</em></li>
            <li>{{meal.strIngredient17}}-<em>{{meal.strMeasure17}}</em></li>
            <li>{{meal.strIngredient18}}-<em>{{meal.strMeasure18}}</em></li>
            <li>{{meal.strIngredient19}}-<em>{{meal.strMeasure19}}</em></li>
            <li>{{meal.strIngredient20}}-<em>{{meal.strMeasure20}}</em></li>
            <p>--------------------------------------------------------------------------------------------------------------------------------------------</p>
            </ul>
   </div>
  </div>
