<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div style="padding: 80px;">
  <h2 style="color: #0000ff"> Meals Info </h2>
  <nav>
      <a routerLink="meals" class="btn btn-primary active" role="button" routerLinkActive="active">Meals</a>
      <br><br>
  </nav>
  <router-outlet></router-outlet>
</div>

